#!/usr/bin/make -f
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -lminizip

MAKEFILE_VARIABLES = PREFIX=/usr DEBUG=1 COMPTIME=$(SOURCE_DATE_EPOCH) USE_SYSTEM_XXHASH=1 USE_SYSTEM_OPENCL=1 USE_SYSTEM_ZLIB=1 SHARED=1

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- $(MAKEFILE_VARIABLES)

override_dh_auto_install:
	dh_auto_install -- $(MAKEFILE_VARIABLES)

override_dh_install:
	rm -f debian/tmp/usr/share/doc/hashcat/changes.txt
	rm -f debian/tmp/usr/share/doc/hashcat/license.txt
	dh_install

override_dh_installchangelogs:
	dh_installchangelogs docs/changes.txt

override_dh_fixperms-indep:
	dh_fixperms
	chmod 644 debian/hashcat-data/usr/share/doc/hashcat-data/examples/example0.sh
	chmod 644 debian/hashcat-data/usr/share/doc/hashcat-data/examples/example400.sh
	chmod 644 debian/hashcat-data/usr/share/doc/hashcat-data/examples/example500.sh
